.tool-container {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border-radius: 5px;
	margin: 5px;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,.15);
}